<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.35">
      <gitLabConnection>https://gitlab.int.infinit.cx/</gitLabConnection>
      <jobCredentialId>JiriSebestaGITAccessToken</jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>export_oauthclient_id</name>
          <description>EXPORT - OAuthClient ID found on the OAuth page of Admin UI</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>export_oauthclient_secret</name>
          <description>EXPORT - OAuthClient secret found on the OAuth page of Admin UI.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>import_oauthclient_id</name>
          <description>IMPORT - OAuthClient ID found on the OAuth page of Admin UI</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>import_oauthclient_secret</name>
          <description>IMPORT - OAuthClient secret found on the OAuth page of Admin UI.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>export_environment</name>
          <description>environment override. E.g. mypurecloud.com.au or ap-southeast-2</description>
          <defaultValue>mypurecloud.de</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>import_environment</name>
          <description>environment override. E.g. mypurecloud.com.au or ap-southeast-2</description>
          <defaultValue>mypurecloud.de</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://gitlab.int.infinit.cx/ext.kamil.sienicki/genesyscloudarchy</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=&quot;/cygdrive/c/Tools/cygwin64/bin/:$PATH&quot;

# EXPORT
# Prepare flow list for Archy export
&quot;$WORKSPACE&quot;/gc flows list -a --transform archy_export_all.tmpl --clientid $export_oauthclient_id --clientsecret $export_oauthclient_secret --environment $export_environment &gt; export_architect_flows.bat

# Create options file for export
echo &quot;clientId: $export_oauthclient_id&quot; &gt; myOptions.yaml
echo &quot;clientSecret: $export_oauthclient_secret&quot; &gt;&gt; myOptions.yaml
echo &quot;location: $export_environment&quot; &gt;&gt; myOptions.yaml

# Archy Export
cmd /c call &quot;$WORKSPACE&quot;/export_architect_flows.bat

# Create options file for import
echo &quot;clientId: $import_oauthclient_id&quot; &gt; myOptions.yaml
echo &quot;clientSecret: $import_oauthclient_secret&quot; &gt;&gt; myOptions.yaml
echo &quot;location: $import_environment&quot; &gt;&gt; myOptions.yaml

# Archy Import
set +e
for f in ./output/*.yaml; do &quot;$WORKSPACE&quot;/archy publish --optionsFile myOptions.yaml --file &quot;$f&quot;; done</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.42">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.42">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>
